


/* home */
.home{
    min-height:100vh;
    background-image:linear-gradient(200deg, var(--emerald) 60%, var(--giants-orange) 60%);
    display:grid;
    grid-template-columns:minmax(20px, auto) minmax(200px, 800px) minmax(20px, auto);
    grid-template-rows:20px auto 20px;
}


/* hero section */
.hero{
    display:grid;
    grid-column:2/3;
    grid-row:2/3;
    grid-template-rows:repeat(5, max-content) auto;
    gap:20px
}

.hero > :last-child{
    justify-self:start;
    align-self:end;
    text-decoration:none;
    padding:10px;
    background-color:var(--emerald);
    color:var(--dutch-white);
    font-size:1.3rem;
    border-radius:10px;
}


/* site title */
.hero > :first-child{
    text-decoration:none;
    color:var(--giants-orange);
    font-weight:bold;
    font-size:3rem;
    justify-self:start;
    padding:10px;
    border:3px solid var(--tea-green);
    border-radius:10px;
}


.hero > :nth-child(2){
    font-size:2rem;
    font-weight:bold;
    color:var(--earth-yellow);
}


.hero > :nth-child(3){
    font-size:2rem;
}


/* search  */
.hero > form{
    display:flex;
    max-width:400px;
}

.hero > form > button{
    width:50px;
    height:50px;
    position:relative;
    border-width:0;
    background-color:white;
    cursor:pointer;
    border-radius: 0 10px 10px 0;
} 

.hero > form > button::after{
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    mask-image:url("https://img.icons8.com/ios-glyphs/30/search--v1.png");
    mask-size:80%;
    mask-repeat:no-repeat;
    mask-position:center;
    background-color:var(--giants-orange);
}

.hero > form > input{
    border-width:0px;
    flex-grow:1;
    padding:10px;
    border-radius: 10px 0 0 10px;
}

/* features */
.hero > :nth-child(5){
    display:flex;
    flex-direction:column;
    gap:20px;
}

.hero > :nth-child(5) > span{
    font-size:1.2rem;
    color:var(--dutch-white);
}


























